# Ignore virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore PyCache and Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore YOLO runs and logs
runs/
*.log

# Ignore dataset folders
datasets/
vcor/
video test/

# Ignore heavy model weights
*.pt
*.onnx
*.engine
*.ncnn
*.tflite

# Ignore IDE files
.vscode/
.idea/
# Ignore large backup folders and archives
OLD_FILES/
OLD_model/
*.zip
*.tar.gz
*.mp4
uav_vision_map(1).mbtiles
uav_vision_map.mbtiles
